*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media (max-width: 768px){
        .text{
        text-align: center;
        margin-top: 20px;
        font-family: sans-serif;
    }
    input[type="text"]{
        padding: 15px;
        width: 250px;
        border-radius: 10px;
        background-color: rgb(237, 235, 235);
        color: rgb(0, 0, 0);
        border: none;
        font-size: 17px;
        outline: none;

    }
    .form-search{
        text-align: center;
        margin-top: 20px;
        margin-right: 20px;
    }
    .main-search{
        display: flex;
        justify-content: center;
    }
    .box-icon i{
        align-items: center;
        display: flex;
        border: none;
        background-color: royalblue;
        color: #ffffff;
        padding: 15px;
        margin-top: 20px;
        border-radius: 10px;
    }
    .gallery img {
        width: 85vw;
        flex: 0 0 auto;
        max-width: 400px;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        scroll-snap-align: center;
        user-select: none;
        -webkit-user-drag: none;
    }
        .container-gallery{
            position: relative;
            width: 100%;
            overflow: hidden;
            margin-top: 30px;
        }
    .gallery{
        margin-left: 15px;
        cursor: pointer;
        display: flex;
        gap: 12px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        padding: 12px;
        scroll-behavior: smooth;
    }

    .gallery::-webkit-scrollbar{
        height: 10px;
    }
    .gallery::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: rgba(0,0,0,0.2);
    }




    .dots{
        text-align: center;
        margin-top: 10px;
    }
    .dot{
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #ccc;
        border-radius: 50%;
        margin: 0 5px;
        transition: background 0.3s;
    }
    .dot.active{
        background: #3300ff;
    }




    .dotsCart{
        text-align: center;
        margin-top: 10px;
    }
    .dotCart{
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #ccc;
        border-radius: 50%;
        margin: 0 5px;
        transition: background 0.3s;
    }
    .dotCart.activeCart{
        background: #3300ff;
    }








    .box-cart{
        margin-top: 50px;
    }
    .box-cart p{
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 700;
        margin-left: 15px;
        color: gray;
    }
    .cart-item img{
        width: 150px;
        object-fit: cover;
        border-radius: 15px;
    }
    .cart-item{
        margin-top: 20px;
        border: none;
        border-radius: 15px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
        height: 300px;
    }
    .cart{
        cursor: pointer;
        display: flex;
        gap: 12px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        padding: 12px;
        scroll-behavior: smooth;
    }
    .cart::-webkit-scrollbar{
        height: 10px;
    }
    .cart::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: rgba(0,0,0,0.2);
    }
    .cart-item p{
        text-align: center;
        color: green;
        margin-top: 10px;
        margin-right: 15px;
    }
    .star{
        color: gold;
        text-align: center;
        margin-top: 5px;
    }
    body{
        height: 190vh;
    }
    .btn-add a{
        text-decoration: none;
        color: #ffffff;
         background-color: green;
         padding: 10px;
         border: none;
         border-radius: 10px;
         font-family: sans-serif;
         font-weight: 600;
         transition: all background-color 0.3s;
    }
    .btn-add{
        text-align: center;
        margin-top: 20px;
    }
    .btn-add a:hover{
        background-color: rgb(1, 105, 1);
    }

    
    .footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
        border-top: 1px solid #ddd;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
    }

    .footer-btn{
        text-decoration: none;
        color: #555;
        text-align: center;
        font-size: 14px;
        flex: 1;
        transition: .3s;
    }
    .footer-btn i{
        display: block;
        font-size: 22px;
    }
    .footer-btn.active,
    .footer-btn:hover{
        color: #007bff;
    }



    .categories{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        gap: 40px;
    }
    .box-cate a{
        color: #000000;
        text-decoration: none;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 17px;
    }
    .box-cate i{
        font-size: 18px;
    }
    .box-cate{
        text-align: center;
        border: none;
        padding: 15px;
        width: 20%;
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
        transition: transform 0.3s ease, box-shadow 0.3s ease ;
    }
    .box-cate:hover{
        transform: scale(1.1);
        box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    }
    .main-categories p{
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 700;
        margin-left: 15px;
        color: gray;
        margin-top: 30px;
    }
    .contact{
        margin-top: 100px;
        font-family: sans-serif;
    }
    .contact h2{
        text-align: center;
    }
    .media{
        margin-top: 30px;
        text-align: center;
    }
    .media i{
        border-radius: 50%;
        color: #ffffff;
        padding: 10px;
        background-color: #000000;
        font-size: 20px;

    }
    .media a{
        text-decoration: none;
        color: black;
        margin: 10px;
    }
}
