*{
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .logo img{
         width: 150px;
    }
    .logo {
        text-align: center;
    }
    .text{
        font-family: sans-serif;
        text-align: center;
        font-size: 12px;
    }
    .text p{
        font-size: 13px;
        color: rgb(50, 90, 247);
    }
    .box-signUp{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .box-signUp p{
        font-family: sans-serif;
        text-align: center;
        margin-top: 20px;
    }
    .box-signUp a{
        text-decoration: none;
        margin-top: 20px;
        color: rgb(50, 90, 247);
    }
    input[type="text"],
    input[type="email"],
    input[type="password"]{
        width: 300px;
        padding: 18px;
        border-radius: 10px;
        border: none;
        background-color: rgb(234, 234, 234);
        outline: none;
        font-size: 15px;
    }
    .btn{
        margin-top: 40px;
        border: none;
        padding: 18px;
        border-radius: 10px;
        width: 300px;
        background-color: rgb(50, 90, 247);
        color: #ffffff;
        font-size: 17px;
        font-family: sans-serif;
    }
    .btn:hover{
        background-color: rgb(34, 67, 200);
    }



    /*===================== Login =======================*/
    .text{
        font-family: sans-serif;
        text-align: center;
        font-size: 12px;
    }
    .text p{
        font-size: 13px;
        color: rgb(50, 90, 247);
    }
    .box-Login{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .box-Login p{
        font-family: sans-serif;
        text-align: center;
        margin-top: 20px;
    }
    .box-Login a{
        text-decoration: none;
        margin-top: 20px;
        color: rgb(50, 90, 247);
    }
    input[type="text"],
    input[type="email"],
    input[type="password"]{
        width: 300px;
        padding: 18px;
        border-radius: 10px;
        border: none;
        background-color: rgb(234, 234, 234);
        outline: none;
        font-size: 15px;
    }
}
