*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media (max-width: 768px){
        .text{
        text-align: center;
        margin-top: 20px;
        font-family: sans-serif;
    }
    input[type="text"]{
        padding: 15px;
        width: 250px;
        border-radius: 10px;
        background-color: rgb(237, 235, 235);
        color: rgb(0, 0, 0);
        border: none;
        font-size: 17px;
        outline: none;

    }
    .form-search{
        text-align: center;
        margin-top: 20px;
        margin-right: 20px;
    }
    .main-search{
        display: flex;
        justify-content: center;
    }
    .box-icon i{
        align-items: center;
        display: flex;
        border: none;
        background-color: royalblue;
        color: #ffffff;
        padding: 15px;
        margin-top: 20px;
        border-radius: 10px;
    }
    .gallery img {
        width: 80vw;
        flex: 0 0 auto;
        max-width: 400px;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        scroll-snap-align: center;
        user-select: none;
        -webkit-user-drag: none;
    }
        .container-gallery{
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-top: 30px;
    }
    .gallery{
        cursor: pointer;
        display: flex;
        gap: 12px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        padding: 12px;
        scroll-behavior: smooth;
    }

    .gallery::-webkit-scrollbar{
        height: 10px;
    }
    .gallery::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: rgba(0,0,0,0.2);
    }




    .dots{
        text-align: center;
        margin-top: 10px;
    }
    .dot{
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #ccc;
        border-radius: 50%;
        margin: 0 5px;
        transition: background 0.3s;
    }
    .dot.active{
        background: #3300ff;
    }



    .dotsItem{
        text-align: center;
        margin-top: 10px;
    }
    .dotItem{
        display: inline-block;
        width: 7px;
        height: 7px;
        background: #ccc;
        border-radius: 50%;
        margin: 0 5px;
        transition: background 0.3s;
    }
    .dotItem.actives{
        background: #3300ff;
    }





    .box-cart{
        margin-top: 50px;
    }
    .box-cart p{
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 700;
        margin-left: 15px;
        color: gray;
    }
    .cart-item img{
        width: 150px;
        object-fit: cover;
        border-radius: 15px;
    }
    .cart-item{
        margin-top: 20px;
        border: none;
        border-radius: 15px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    }
    .cart{
        cursor: pointer;
        display: flex;
        gap: 12px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        padding: 12px;
        scroll-behavior: smooth;
    }
    .cart::-webkit-scrollbar{
        height: 10px;
    }
    .cart::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: rgba(0,0,0,0.2);
    }
    .cart-item p{
        text-align: center;
        color: green;
        margin-top: 10px;
        margin-right: 15px;
    }
    .star{
        color: gold;
        text-align: center;
        margin-top: 10px;
    }
    body{
        height: 150vh;
    }
}
